html, body {
    margin: 0;
    padding: 0;
    background: #282828;
}

#head{
    background-color: #fbbe28;
    font-family: 'Oswald', sans-serif;
    padding: 3px;
    font-size: 0.8em;
}

#head h1{
    padding-left: 15px;
}

.container {
    background-color: #282828;
    width:100%;
    max-width: 100%;
    /* margin: 0 auto; */
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #fbbe28;
  background-color: #fbbe28;
  width: auto;
  height: 100vh;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 100vh;
}

h3,p{
    color: white;
}

.data{
    color: #fbbe28;
}